* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
  a {
    text-decoration: none;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    border-top: 1px solid #eee;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34,49,52,0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
  }
  
  .back_btn {
    margin: 10px;
    color: black;
    background-color: whitesmoke;
  }
  
  .back_btn:hover {
    color: darkblue;
    font-size: medium;
  }
  
  .btn-wrapper {
    text-align: center;
  }
  
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .header-left {
    float: left;
    margin-left: -5px;
  }
  
  .header-left a {
    line-height: 65px;
    padding: 0 10px;
    color: white;
    display: block;
    float: right;
    transition: all 0.5s;
    font-size: x-large;
  }
  
  .header-left a:hover{
    color:aquamarine
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover{
    color:aquamarine
  }
  
  .hero {
    margin-top: 75px;
    max-height: 400px;
  }
  
  .icon {
    width: 256px;
  }
  
  .logo {
    width: 54px;
    height: 54px;
    margin-top: 6px;
  }
  
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }
  
  .top-wrapper {
    padding: 140px 0 100px 0;
    background-image: url(../../assets/images/top.png);
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  .bottom-btn {
    color: rgba(34,49,52,0.9);
    display: inline-block;
    margin: 0 10px;
  }
  
  .email:hover {
    color: lightsalmon;
  }
  
  .twitter:hover {
    color: rgb(29, 155, 240);
  }
  
  .github:hover {
    color: gray;
  }
  
  .share-btn-wrapper {
    margin-left: 6%;
    margin-right: 6%;
  }
  
  .share-btn {
    background-color: gray;
    color: white;
    display: inline-block;
    padding-left: 6px;
    padding-top: 8px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
  }
  
  .share-btn:hover {
    background-color: rgba(34,49,52,0.9);
  }
  
  @media all and (max-width: 670px) {
    .header-left a {
      display: none;
    }
  }