
.header-left {
    float: left;
    /* HACK */
    /* 何も変わらん?? */
    /* margin-left: 1000px; */
    margin-left: -5px;
  }
  
.header-logo {
    max-width: max-content;
    float: left;
}

.header-name {
/* HACK */
/* 変わらない?? */
    /* line-height: 1000px; */
    line-height: 65px;
    padding: 0 5px;
    color: white;
    display: block;
    float: right;
    transition: all 0.5s;
    font-size: x-large;
}

.header-right {
float: right;
/* 画像位置? */
/* margin-right: 1000px; */
margin-right: -25px;
}

.header-right a {
/* line-height: 1000px; */
line-height: 65px;
padding: 0 25px;
color: white;
display: block;
float: left;
transition: all 0.5s;
}

.header-right a:hover{
color:aquamarine
}

.logo {
/* HACK */
width:1000px;
/* width:65px; */
height: 54px;
margin-top: 6px;
}

@media all and (max-width: 720px) {
.header-name {
    display: none;
}
}