
.header-left {
    float: left;
    /* HACK */
    margin-left: 100px;
    /* margin-left: -5px; */
  }
  
.header-logo {
    max-width: max-content;
    float: left;
}

.header-name {
/* HACK */
    line-height: 100px;
    /* line-height: 65px; */
    padding: 0 5px;
    color: white;
    display: block;
    float: right;
    transition: all 0.5s;
    font-size: x-large;
}

.header-right {
float: right;
margin-right: -25px;
}

.header-right a {
line-height: 65px;
padding: 0 25px;
color: white;
display: block;
float: left;
transition: all 0.5s;
}

.header-right a:hover{
color:aquamarine
}

.logo {
/* HACK */
width:300px;
/* width:65px; */
height: 54px;
margin-top: 6px;
}

@media all and (max-width: 720px) {
.header-name {
    display: none;
}
}